h1{
    color:aquamarine
}
/*{
    border:solid;
}*/
.header{
background-color: darkgoldenrod;
display: flex;
justify-content: space-between
}
.grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
}